# macOS
.DS_Store

# IDE
.vscode/
.idea/

# logs
*.log

# temp files
*.tmp
*.swp

# kube config
.kube/

# terraform (ileride kullanırsan)
.terraform/
terraform.tfstate
terraform.tfstate.backup

# environment variables
.env
.env.local

# node modules (ileride script eklenirse)
node_modules/

# helm build artifacts
charts/*.tgz
